<!DOCTYPE html>
<html>
	<head>
		<title>Search Page</title>
		<Style type = text/css>
		#search1{
					width : 1200px;
					padding : 20px;
					border : 2 px solid lightblue;
					transition: width 0.4s ease-in-out;
					border:10 px solid lightseagreen;
					-moz-user-focus: width:100%;
				}
				
		#Submit1{
					width : 200px;
					padding : 20px;
					border : 25 px solid: #333;
					background : Green;
									
				}

		#searchresult{

					width : 1200px;
					height :500px;
					border:7px solid brown;
					background : lightcyan;

		}		
	
	</Style>
	</head>
	<Body Style="background-color: lightblue">
	<form>
			<input type = "Text" align = "center" placeholder = "Searching something??" maxlength ="20" id = "search1"	>
			
			<br></br>
		<br></br>
			<input type = "Submit"  Value = "Please click here!" id = "Submit1">
	
	</form>
	<form>

		<br></br>
		<input type = "Text" text-align="center" placeholder = "Search Results displayed here" id = "searchresult">

		</form>
	</Body>
	
	
</html>